@import "src/assets/styles/_variables.scss";

/* Create & Delete Buttons */

.delete-button {
    color: $red;
    background-color: $white;
    border: 1px solid $red;
}

.create-button {
    color: $green;
    background-color: $white;
    border: 1px solid $green;
}

.disabled-button {
    color: $grey;
    background-color: $white;
    border: 1px solid $grey;
}

.navigate-button {
    color: $blue;
    background-color: $white;
    border: 1px solid $blue;
}

.delete-button, .create-button, .disabled-button, .navigate-button {
    background-color: inherit;
    cursor: pointer;
}
