<li class="pl-5 mb-2">
  <!-- Clickable expand/collapse icon -->

  <ButtonKnob
    class="mr-2"
    v-if="!expandable"
    label="•"
    kind="grey"
    :enabled="false"
  />

  <ButtonKnob
    class="mr-2"
    v-if="expandable && !expanded"
    label="+"
    kind="sky"
    @click="expanded = true"
  />

  <ButtonKnob
    class="mr-2"
    v-if="expandable && expanded"
    label="-"
    kind="orange"
    @click="expanded = false"
  />

  <!-- Node name -->
  <!--
  <template v-if="(node.synonymPredictions + node.childPredictions) > 0">
    <span class="pr-2 text-orange-700">★</span>
  </template>
-->
  <a :class="getNodeClasses()" @click="selectable && $emit('select', node)">
    {{ getNodeName(node) }}
  </a>

  <template v-if="(node.synonymPredictions + node.childPredictions) > 0">
    <span class="pl-3 text-gray-400 text-sm"
      >{{ node.synonymPredictions }}|{{ node.childPredictions }}</span
    >
  </template>

  <!-- Child nodes & Input new child node-->

  <ul v-if="expanded" class="py-2">
    <TreeItem
      v-for="(child, index) in sortedChildren"
      :key="child.nid"
      :node="child"
      :selectedNode="selectedNode"
      :selectable="selectable"
      @select="$emit('select', $event)"
    ></TreeItem>
  </ul>
</li>
