<li class="pl-5 mb-2">
  <!-- Clickable expand/collapse icon -->

  <ButtonKnob class="mr-2" v-if="!expandable" label="•" kind="grey" />

  <ButtonKnob
    class="mr-2"
    v-if="expandable && !expanded"
    label="+"
    kind="sky"
    @click="expanded = true"
  />

  <ButtonKnob
    class="mr-2"
    v-if="expandable && expanded"
    label="-"
    kind="orange"
    @click="expanded = false"
  />

  <!-- Node name -->

  <a
    :class="{'font-bold': node === selectedNode, selectable}"
    @click="selectable && $emit('select', node)"
  >
    {{ getNodeName(node) }}
  </a>

  <!-- Child nodes & Input new child node-->

  <ul v-if="expanded" class="py-2">
    <TreeItem
      v-for="(child, index) in node.children"
      :key="index"
      :node="child"
      :selectedNode="selectedNode"
      :selectable="selectable"
      @select="$emit('select', $event)"
    ></TreeItem>
  </ul>
</li>
