<div v-if="node">
  <!-- predictions -->

  <div class="p-5 mb-5 bg-white rounded-lg">
    <ButtonRegular
      label="Show Predictions"
      kind="sky"
      class="mb-5 inline-block"
      @click="$router.push(`/predictions/${node.id}`)"
    />

    <div class="grid grid-cols-3 gap-x-5">
      <div class="font-bold">Synonyms</div>
      <div class="col-span-2">
        {{ synonymPredictions === null ? '...' : synonymPredictions }}
      </div>

      <div class="font-bold">Children</div>
      <div class="col-span-2">
        {{ childPredictions === null ? '...' : childPredictions }}
      </div>
    </div>
  </div>

  <!-- entities -->

  <div class="p-5 mb-5 bg-white rounded-lg">
    <h3 class="text-lg mb-3">Phrases ({{ node.entities.length }})</h3>
    <ul class="pl-5 mb-5">
      <li v-for="entity of node.entities" :key="entity.id" class="mb-2">
        <ButtonKnob @click="deleteEntity(entity.id)" kind="pink" label="x" />

        {{ entity.name }}

        <span class="text-gray-400">
          ({{ entity.matchesCount }}&nbsp;{{ entity.matchesCount === 1 ? 'match'
          : 'matches' }})
        </span>
      </li>
    </ul>

    <input
      class="border border-gray-500 mr-5 p-2"
      @change="createEntity($event)"
      placeholder="New Entity"
    />

    <ButtonRegular label="Add" kind="sky" @click="createEntity(entity.id)" />
  </div>

  <!-- matches -->

  <div class="p-5 mb-5 bg-white rounded-lg">
    <h3 class="text-lg mb-3">Associated Texts</h3>

    <div class="grid grid-cols-3 gap-x-5 pl-5">
      <div class="font-bold">Direct</div>
      <div class="col-span-2">{{ shallowNodeMatches }}</div>

      <div class="font-bold">Children</div>
      <div class="col-span-2">{{ deepNodeMatches - shallowNodeMatches }}</div>

      <div class="font-bold">Total</div>
      <div class="col-span-2">{{ deepNodeMatches }}</div>
    </div>
  </div>

  <div class="p-5 mb-5 bg-white rounded-lg">
    <ButtonRegular
      label="Add Child Node"
      kind="sky"
      class="mr-5"
      @click="$emit('createNode', node)"
    />
    <ButtonRegular
      label="Delete Node"
      kind="pink"
      @click="$emit('deleteNode', node)"
    />
  </div>
</div>
