<div class="container mx-auto center">
  <h1 class="text-2xl text-center mb-10 font-bold">Taxonomy Maintenance</h1>

  <main class="grid grid-cols-3 gap-4">
    <section>
      <ColHeader title="Taxonomy" />
      <Taxonomy
        :rootNodes="rootNodes"
        :selectedNode="selectedNode"
        :loading="loading"
        @select="selectNode($event)"
        @createNode="showCreateRootNode"
      />
    </section>

    <section>
      <!-- New Node -->
      <ColHeader :title="nodeTitle" />

      <div>
        <p class="px-5" v-if="!creatingNewNode && !selectedNode">
          Please select a symptom from the taxonomy.
        </p>

        <NewNode v-if="creatingNewNode" @createNode="createNode($event)" />

        <NodeDetails
          v-if="!creatingNewNode && selectedNode"
          :node="selectedNode"
          @createEntity="createEntity($event)"
          @deleteEntity="deleteEntity($event)"
          @createNode="showCreateNode"
          @deleteNode="deleteNode($event)"
        />
      </div>
    </section>

    <section>
      <template v-if="selectedNode">
        <ColHeader title="Already Matched Texts" />
        <Matches class="grid-content" :node="selectedNode" />
      </template>
    </section>
  </main>
</div>

<main></main>
